.wrap{padding-top:20px;background:#fff;} /* Body/sidebar text wrapper */

.main{margin-left:340px;width:auto;} /* Body text formatting */

#text{font-size:140%;line-height:120%} /* Body text formatting */

.sidebar{width:332px;float:left;} /* Sidebar size formatting */

.nav-tabs li a{font-size:14pt;font-weight:bold;color:#000000;} /* Sidebar text formatting */



.wrap2{padding:20px;background:#a4aef8;} /* Banner text wrapper */

#header{font-size:32pt;font-weight:bold; color:#000000;line-height:100%;font-weight:bold;} /* Banner text formatting */

#logo{width:150px;vertical-align:middle;margin-bottom:5px;} /*Olin logo size*/

#rect{width:100%;height:50px;background-color:#a4aef8;} /* Rectangle at the top */



.navbar li div{height:20px;padding-top:10px;padding-bottom:10px;margin-bottom:2px;} /* Navbar button sizes */

#homebutton{margin-right:5px;} /* Navbar button margin */

#homebutton a{color:#fff;background:#00126d;} /* Navbar button text formatting */

.navbar li a{font-size:18pt;font-weight:bold;color:#CF1039;} /* Navbar button text formatting */



.dropdown-menu{width:auto;} /* Dropdown size */

.dropdown-menu li a{font-size:14pt;} /* Dropdown text formatting */



#photo{width:300px;} /* Photo size */

h3{padding:0px;margin:0px;padding-bottom:10px;}




