/* Body text formatting */
.main
{
	margin-left:210px;
	width:auto;
} 

/* Body text formatting Projects*/
.projects
{
	margin-left:345px;
	width:auto;
} 

/* Body text formatting About*/
.about
{
	margin-left:330px;
	width:auto;
} 

/* Body text formatting */
#text
{
	font-size:140%;
	line-height:120%
} 

/* Body/sidebar text wrapper */
.wrap
{
	padding-top:20px;
	background:#fff;
	margin-left: 10px;
	margin-right: 10px;
} 

/* Sidebar size formatting */
.sidebar
{
	top:100px;
	float:left;
} 

/* Sidebar text formatting */
.nav-tabs li a
{
	font-size:14pt;
	font-weight:bold;
	color:#000000;
} 


/* Banner text wrapper */
.wrap2
{
	padding:0px;
	background:#a4aef8;
} 

/* Banner text formatting */
#header
{
	font-size:32pt;
	font-weight:bold; 
	color: 	#fff;
	height:auto;
	font-weight:bold;
} 

/*Olin logo size*/
#logo
{
	vertical-align:middle;
	padding-top:20px;
	padding-bottom: 5px; 
	margin-left: 40px;
} 

/* Rectangle at the top */
#rect
{
	width:100%;
	height:100%;
	background-color:#a4aef8;
} 


/* Navbar button sizes */
.navbar li div
{
	height:20px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:2px;
} 

/* Navbar button margin */
#homebutton
{
	margin-left:5px;
	margin-bottom: 10px;
} 

/* Navbar button text formatting */
#homebutton a
{
	color:#fff;
	background:#00126d;
}

/* Navbar button text formatting */
.navbar li a
{
	font-size:18pt;
	color:#CF1039;
} 

/* Photo size */
#photo
{
	width:300px;
	border:2px solid black;
} 

/* Small Photo size */
#photo_small
{
	width:150px;
} 

h3
{
	padding:0px;
	margin:0px;
	padding-bottom:10px;
}

/* Dropdown size */
.dropdown-menu
{
	width:auto;
} 

/* Dropdown text formatting */
.dropdown-menu li a
{
	font-size:14pt;
} 

/* Photo size */
#photo
{
	width:300px;
	border:1px solid #000000;
} 

/* Headshot size */
#headshot
{
	width:130px;
	border:1px solid #000000;
} 

/* Headshot size */
#smallpic
{
	width:200px;
	border:1px solid #000000;
} 

/* Overwriting H3 */
h3
{
	padding:0px;
	margin:0px;
	padding-bottom:10px;
}

h4
{
	font-size:18pt;
	font-weight:bold;
	padding:0px;
	margin:0px;
	padding-top:20px;
	padding-bottom:10px;
}

/*Floating Nav Bar - Side */
#floatMenu
{
	left: -1%;
	position: absolute;
	top:20%;
}

#floatMenu ul
{
	margin-bottom:20px;
	list-style-type: none;
}

#floatMenu ul li a:hover
{
	border-color:#09f;
	font-weight: bold;
}

#floatMenu ul li a
{
	list-style-type: none;
	display:block;
	border:1px solid #999;
	border-left:6px solid #999;
	font-size: 20px;
	background-color:inherit;
	font-family: Verdana;
	text-decoration:bold;
	color:black;
	padding: 5px;
}
