.nav-tabs li {width:250px;} /*Sidebar size*/

.nav-tabs li a{font-size:14pt;font-weight:bold;color:#000000;} /*Sidebar text formatting*/

.navbar li a{font-size:18pt;font-weight:bold;color:#CF1039;} /*Navbar text formatting*/

.dropdown-menu{width:100%;} /*Dropdown size*/

.dropdown-menu li a{font-size:14pt;} /*Dropdown text formatting*/

.navbar li div{height:20px;padding-top:10px;padding-bottom:10px;margin-bottom:2px;} /*Navbar button sizes*/

#homebutton{margin-right:5px;} /*Navbar button margin*/

#homebutton a{color:#CF1039} /*Navbar button text formatting*/

#text{font-size:140%;line-height:120%} /*Body text formatting*/

#headerphoto{width:300px;} /*Header photo size*/

#logo{width:150px;} /*Olin logo size*/

#header{font-size:32pt;font-weight:bold; color:#000000;}

a:active
{ 
background-color:yellow;
}